<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>الرئيسية</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offers" href="/tabs/offers">
      <ion-icon aria-hidden="true" name="pricetags"></ion-icon>
      <ion-label>العروض</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories" href="/tabs/categories">
      <ion-icon aria-hidden="true" name="grid"></ion-icon>
      <ion-label>الأقسام</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stores" href="/tabs/stores">
      <ion-icon aria-hidden="true" name="storefront"></ion-icon>
      <ion-label>المتاجر</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="live" href="/tabs/live">
      <ion-icon aria-hidden="true" name="videocam"></ion-icon>
      <ion-label>المباشر</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
