<ion-card button="true" (click)="open()" class="offer-card">
  <div class="image-wrap">
    <ion-img
      *ngIf="offer.image; else placeholderTpl"
      [src]="offer.image | imageUrl"
      alt="offer.title"
      class="offer-img"
    ></ion-img>
    <ng-template #placeholderTpl>
      <div class="placeholder"><ion-icon name="pricetag"></ion-icon></div>
    </ng-template>

    <ion-badge color="danger" class="discount-badge">
      {{ offer.original_price | discount: offer.offer_price }}-
    </ion-badge>
  </div>

  <ion-card-header>
    <ion-card-title class="offer-title">{{ offer.title }}</ion-card-title>
    <ion-card-subtitle class="store-name">
      <ion-icon name="storefront"></ion-icon>
      {{ offer.store?.name || 'متجر' }}
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div class="prices">
      <span class="price-offer">{{ offer.offer_price }} د.أ</span>
      <span class="price-original" *ngIf="offer.original_price !== offer.offer_price">
        {{ offer.original_price }} د.أ
      </span>
    </div>
  </ion-card-content>
</ion-card>
